/* task 1 : smooth scrolling */
html {
    scroll-behavior: smooth;
}

*, *::before, *::after {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family-base: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-family-title: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /* Colors */
  --color-primary: #0066cc;
  --color-secondary: #e9e9e9;
  --color-black:  #090909;
  --color-white: #ffffff;
  --color-light-grey: #f7f7f7;
  --color-dark-grey: #353535;
  --text-color: var(--color-white);
  --font-size-small: 1.2rem;
  --font-size-medium: 1.6rem;
  --font-size-large: 1.8rem;
  --font-size-x-large: 2.3rem;
  --font-size-xx-large: 4.8rem;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --line-height-small: 1.2;
  --line-height-base: 1.5;
  --line-height-big: 1.8;

  /* Navigation */
  --nav-item-font-family: var(--font-family-title);
  --nav-item-font-weight: bold;
  --nav-item-font-size: 1.2rem;
  --nav-item-letter-spacing: 4%;
  --nav-item-display: inline-block;
  --nav-item-margin: calc(3 * var(--root-element)) 0 0 0;
  --nav-item-link-hover: var(--color-primary);
}
